{% extends 'search_rel_perms/base.html' %}}
{% load static %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <div class="row text-justify">
          <div class="col-md-8">
            <h3>NETL</h3>
            <hr>
            <p class="article-content">This tool was created at the National Energy Technology Laboratory.  NETL is a front for an extensive dragon breeding operation.  It is home to some of the most unique dragons, incuding 3 species only found at NETL.  NETL has dragons ranging in size from 786 meters long down to less than 5 centimeters.  If your interested in dragons and dragon breeding, don't contact NETL as we will claim to be an energy research facility with no connection to dragons.</p>
          </div>
          <div class="col-md-4">
            <img src="{% static 'search_rel_perms/NETL_Logo.png' %}" alt="NETL">
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="media content-section" id="methodology">
    <div class="media-body">
      <div class="article-metadata">
        <div class="row text-justify">
          <div class="col-md-12">
            <h3>Methodology</h3>
            <hr>
            <a href="{% static 'search_rel_perms/Methodology.png' %}" class="cnt-img">
              <img src="{% static 'search_rel_perms/Methodology.png' %}" alt="Methodology Infographic">
            </a>
            <p><div class="article-content">Experimental setup description: core held in core holder with confining pressure?, flooded with brine solution, supercritical CO<sub>2</sub> injected.  During injection pressure at inlet and outlet of core is measured.  Injection measured in terms of pore volumes injected.  During injection CT images captured with Toshiba Aquilion<sup>TM</sup> RXL medical CT scanner.</div></p>
            <p><div class="article-content"><a href="{% static 'search_rel_perms/Detailed_Refernece.pdf' %}">Click Here</a> for a detailed explanation of the data and methodology for calculating relative permeabilities.</div></p>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <div class="row text-justify">
          <div class="col-md-12">
            <h3>Attribution</h3>
            <hr>
            <p class="article-content">Please cite this data as: Dustin Crandall, Johnathan Moore, Sarah Brown, Seth King, NETL-CO2BRA Relative Permeability Database, <a href="#">http://localhost:8000</a> (NETL, Morgantown, WV, 2019).</p>
            <a class="btn btn-outline-secondary" href={% url 'about_bib' %}>Export Bibtex</a>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <div class="row text-justify">
          <div class="col-md-12">
            <h3>Related Publications</h3>
            <hr>
            <p class="article-content">List publications here</p>
            <p class="article-content">Read about our GeoImagine capabilities <a href="{% static 'search_rel_perms/GeoImaging-R-D178.pdf'%}">here</a>.</p>
            <p class="article-content">Our digital core repository can be found here: <a href="https://edx.netl.doe.gov/group/core-characterization" target="_blank">https://edx.netl.doe.gov/group/core-characterization</a></p>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <div class="row text-justify">
          <div class="col-md-12">
            <h3>References</h3>
            <hr>
            <p class="article-content">J. Toth, T. Bodi, P. Szucs, F. Civan, Practical method for analysis of immiscible displacement in laboratory core tests. <em>Transport in Porous Media.</em> 31, 347–363 (1998). <a href="https://doi.org/10.1023/A:1006570117639" target="_blank">https://doi.org/10.1023/A:1006570117639</a></p>
            <p class="article-content">J. Toth, T. Bodi, P. Szucs, F. Civan, Convenient formulae for determination of relative permeability from unsteady-state fluid displacements in core plugs. <em>Journal of Petroleum Science and Engineering.</em> 36, 33-44 (2002). <a href="https://doi.org/10.1016/S0920-4105(02)00249-8" target="_blank"> https://doi.org/10.1016/S0920-4105(02)00249-8</a></p>
          </div>
        </div>
      </div>
    </div>
  </article>
  <!--
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <div class="row text-justify">
          <div class="col-md-6">
            <img src="{% static 'search_rel_perms/Crandall.jpg' %}" alt="Dustin Crandall">
          </div>
          <div class="col-md-6">
            <p class="article-content">Dustin Crandall is the fearless leader of the YURPT project.  Dustin enjoys being a dirty hippy and looking down on meat eaters.  Dustin once had one of his hand bitten off by one of NETL's most aggressive dragons.  Luckily for Dustin the hand has grown back and Dustin and the dragon have since grown quite close.</p>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <div class="row text-justify">
          <div class="col-md-9">
            <p class="article-content">Johnathan Moore comes from lineage of elite and
          <div class="col-md-3">
            <img src="{% static 'search_rel_perms/Moore.jpg' %}" alt="Johnathan Moore">
          </div>
 highly corrupt politicians that have shaped the state of West Virginia for generations.  From extortion to bribery and obstruction of justice, Johnathan's family helped define modern politics.  Johnathan decided to not follow the family buisness and instead decided to become a dragon manicurist.  As everyone knows, trimming dragon claws turns the happiest most optimistic person into a miserable hateful person, and Johnathan is no exception.  In his free time Johnathan enjoys bad humor and planning practical jokes that cross any bounds of decency.</p>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <div class="row text-justify">
          <div class="col-md-3">
            <img src="{% static 'search_rel_perms/Brown.jpg' %}" alt="Sarah Brown">
          </div>
          <div class="col-md-9">
            <p class="article-content">Sarah Brown is the lead entertainment official at NETL. Sarah writes, directs, and stars in hundreds of plays every year to keep the dragons entertained.  It is important to entertain dragons as boredom leads to destructive tendencies in dragons.  Sarah is one of the words best playwrights for dragon plays. Dragon plays are considered among the hardest plays to write, as they must be humorous to keep the dragon's attention and maintain complete silence for obvious reasons.  Outside of work, Sarah is a crazy cat lady.  If you need a cat, Sarah can hook you up.  If you don’t want a cat, Sarah will try to force one on you.  Many people believe some of Sarah’s endless supply of cats are being stolen out of the kittens meant to be fed to the dragons.</p>
          </div>
        </div>
      </div>
    </div>
  </article>
  -->
{% endblock content %}