{% extends 'search_rel_perms/base.html' %}}
{% load static %}
{% block content %}

<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
          <h3>Flow test table column definitions</h3>
          <table class="table table-striped table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                </tr>
            </thead>
            <!--
            test_id = tables.Column(orderable=False)
            -->
            <tbody>
                <tr>
                    <td>Time (adj)</td>
                    <td>Time of measurement adjusted to sync instruments.</td>
                </tr>
                <tr>
                    <td>Temperature &deg;C</td>
                    <td>Temperature in degrees C.</td>
                </tr>
                <tr>
                    <td>Delta P (Pa)</td>
                    <td>Pressure differential from inlet to outlet of core in Pascals.</td>
                </tr>
                <tr>
                    <td>V<sub>i</sub></td>
                    <td>Volume of CO<sub>2</sub> injected in milliliters.</td>
                </tr>
                <tr>
                    <td>V<sub>i</sub>/V<sub>p</sub></td>
                    <td>Volume of CO<sub>2</sub> injected as a fraction of total pore volume.</td>
                </tr>
                <tr>
                    <td>S<sub>CO2,avg</sub></td>
                    <td>Average CO<sub>2</sub> saturation of the core plug.  (See equation 29)<sup>1</sup></td>
                </tr>
                <tr>
                    <td>S<sub>CO2,2</sub></td>
                    <td>Outlet face CO<sub>2</sub> saturation.  (See equation 30)<sup>1</sup></td>
                </tr>
                <tr>
                    <td>M<sub>CO2,2</sub></td>
                    <td>Mobility ratio of CO<sub>2</sub> at the outlet face. (See equation 26)<sup>1</sup></td>
                </tr>
                <tr>
                    <td>&fnof;<sub>CO2,2</sub></td>
                    <td>Dimensionless fractional fluid flow for CO<sub>2</sub> at outlet.  (See equation 24)<sup>1</sup></td>
                </tr>
                <tr>
                    <td>&fnof;<sub>W,2</sub></td>
                    <td>Dimensionless fractional fluid flow for brine at outlet.  (See equation 25)<sup>1</sup></td>
                </tr>
                <tr>
                    <td>Y(S<sub>CO2,2</sub>)</td>
                    <td>Total Mobility Function.  (See equation 39)<sup>1</sup></td>
                </tr>
                <tr>
                    <td>k<sub>rCO2</sub></td>
                    <td>Relative permeability of CO<sub>2</sub>.  (See equation 27)<sup>1</sup></td>
                </tr>
                <tr>
                    <td>k<sub>rW</sub></td>
                    <td>Relative permeability of brine.  (See equation 28)<sup>1</sup></td>
                </tr>
                <!--
        time_adj = tables.DateTimeColumn(format='g:i:s', orderable=False)
        time = tables.DateTimeColumn(format='g:i:s', orderable=False)
        receiving_a_p_psi = tables.Column(orderable=False)
        receiving_a_vol_ml = tables.Column(orderable=False)
        receiving_a_q_ml_min = tables.Column(orderable=False)
        receiving_b_p_psi = tables.Column(orderable=False)
        receiving_b_vol_ml = tables.Column(orderable=False)
        receiving_b_q_ml_min = tables.Column(orderable=False)
        delivery_a_p_psi = tables.Column(orderable=False)
        delivery_a_vol_ml = tables.Column(orderable=False)
        delivery_a_q_ml_min = tables.Column(orderable=False)
        delivery_b_p_psi = tables.Column(orderable=False)
        delivery_b_vol_ml = tables.Column(orderable=False)
        delivery_b_q_ml_min = tables.Column(orderable=False)
        diff_p_high_psi = tables.Column(orderable=False)
        setra_delivery_p_psi = tables.Column(orderable=False)
        setra_receive_p_psi = tables.Column(orderable=False)
        diff_p_low_psi = tables.Column(orderable=False)
        temperature_c = tables.Column(orderable=False)
        delta_p_pa = NumberColumn(orderable=False)
        w_i = NumberColumn(orderable=False)
        norm_w_i = NumberColumn(orderable=False)
        avg_s_w = NumberColumn(orderable=False)
        s_w_2 = NumberColumn(orderable=False)
        m_w_2 = NumberColumn(orderable=False)
        f_w_2 = NumberColumn(orderable=False)
        f_o_2 = NumberColumn(orderable=False)
        y_sw_2 = NumberColumn(orderable=False)
        k_rw = NumberColumn(orderable=False)
        k_ro = NumberColumn(orderable=False)
        -->
            </tbody>
        </table>
        <hr>
        <div>
            <sup>1</sup>J. Toth, T. Bodi, P. Szucs, F. Civan, Convenient formulae for determination of relative permeability from unsteady-state fluid displacements in core plugs. <em>Journal of Petroleum Science and Engineering.</em> 36, 33-44 (2002). <a href="https://doi.org/10.1016/S0920-4105(02)00249-8" target="_blank"> https://doi.org/10.1016/S0920-4105(02)00249-8</a>
        </div>
      </div>
    </div>
</article>
{% endblock content %}