{% extends 'search_rel_perms/base_nopad.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load chartit %}
{% block head %}
    {% if chart %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
      <script src="{% get_static_prefix %}js/highcharts/highcharts.js"
          type="text/javascript"></script>
      <script src="{% get_static_prefix %}js/highcharts/themes/default.js"
          type="text/javascript"></script>
      {{ chart|load_charts:"c1" }}
    {% endif %}
{% endblock head %}
{% block content %}
  <main role="main" class="container">
    <article class="media content-section">
      <div class="col-md-12">
        <h2><a class="link" href="{% url 'rock_sample' flow_test.rock_sample.id %}">{{ flow_test.rock_sample.rock_name }}</a></h2>
        <h3>Flow Rate: {{ flow_test.q_ml_min }} ml/min</h3>
        <div>
          <a class="btn btn-outline-secondary" href="?_export=csv" role="button">Export Table as csv file</a>
          <br />
          <small class="text-muted">*Exported data contains pump measurements</small>
        </div>
        <hr>
        <h5>Toth et al. (2002) Curve Fitting Parameters <a class="link" href="{% url 'search-about' %}#methodology">(See methodology)</a></h5>
        <div>&alpha;= {{ flow_test.q_a }}</div>
        <div>&beta;= {{ flow_test.q_b }}</div>
        <div>&alpha;<sub>1</sub>= {{ flow_test.q_a1 }}</div>
        <div>&beta;<sub>1</sub>= {{ flow_test.q_b1 }}</div>
        <hr>
        <div>Placeholder for Brook-Corey and/or Van Genuchten parameters</div>
        <hr>
        <div><a class="link" href="{% url 'flow_test_defs' %}" target="_blank">Flow test table nomenclature</a></div>
      </div>
    </article>
  </main>
  {% if chart %}
    <div id='c1'></div>
  {% else %}
    <main role="main" class="container">
      <article class="media content-section">
        <div class="row">
          <div class="col-md-12">
            <img src="{% get_media_prefix %}{{ static_chart }}" alt="Flow Test Relative Permeability Curves">
          </div>
        </div>
      </article>
    </main>
  {% endif %}
  {% render_table flow_table %}
{% endblock content %}