{% extends 'search_rel_perms/base.html' %}
{% load crispy_forms_tags %}

{% block head %}
<style>
th, td {
    padding: 8px;
}
</style>
{% endblock head %}

{% block content %}
    <div>
        <h1>Welcome to CO2BRA</h1>
        <h2>The CO<sub>2</sub> Brine Relativity Database</h2>
        <hr>
        <h3><a class="link" href="{% url 'list' %}">View All Experiment Results</a></h3>
    </div>
    <div>
        <form method='post'>
            {% csrf_token %}
            <!--{{ form|crispy }} -->
            <table style="width:100%">
            <tr>
                <th><h3>Or Filter Results by:</h3></th>
            </tr>
            <tr>
            <td>
            <button type="button" class="btn btn-outline-secondary btn-lg" data-toggle="collapse" data-target="#rock_names">Rock Name</button>
            <div id="rock_names" class="collapse">
              {{ form.rock_names }}
            </div>
            </td></tr>
            <tr><td>
            <button type="button" class="btn btn-outline-secondary btn-lg" data-toggle="collapse" data-target="#depositional_environments">Depositional Environment</button>
            <div id="depositional_environments" class="collapse">
              {{ form.depositional_environments }}
            </div>
            </td></tr>
            <tr><td>
            <button type="button" class="btn btn-outline-secondary btn-lg" data-toggle="collapse" data-target="#rock_types">Rock Type</button>
            <div id="rock_types" class="collapse">
              {{ form.rock_types.label_tag }}{{ form.rock_types }}
            </div>
            </td></tr>
            <tr><td>
            <button type="button" class="btn btn-outline-secondary btn-lg" data-toggle="collapse" data-target="#permeability">Permeability</button>
            <div id="permeability" class="collapse">
              {{ form.perm_min.label_tag }}{{ form.perm_min }}
              {{ form.perm_max.label_tag }}{{ form.perm_max }}
            </div>
            </td></tr>
            <tr><td>
            <button type="button" class="btn btn-outline-secondary btn-lg" data-toggle="collapse" data-target="#porosity">Porosity</button>
            <div id="porosity" class="collapse">
              {{ form.porosity_min.label_tag }}{{ form.porosity_min }}
              {{ form.porosity_max.label_tag }}{{ form.porosity_max }}
            </div>
            </td></tr>
            </table>
            <input class="btn btn-outline-secondary btn-lg" type='submit' value='Filter'>
        </form>
    </div>
    <hr>
{% endblock content %}