{% extends 'search_rel_perms/base.html' %}}
{% block content %}
{% if filters %}
  <h1>Query Filters:</h1>
  <article class="media content-section">
    <div class="media-body">
        <table class="table table-bordered table-striped table-sm">
            <tbody>
                <tr>
                    <td class="table-dark">Rock Names</td>
                    <td>{{ filters.rock_names }}</td>
                </tr>
                <tr>
                    <td class="table-dark">Depositional Environment</td>
                    <td>{{ filters.dep_env }}</td>
                </tr>
                <tr>
                    <td class="table-dark">Rock Type</td>
                    <td>{{ filters.rock_types }}</td>
                </tr>
                <tr>
                    <td class="table-dark">Permeability</td>
                    <td>{{ filters.perm_min }} to {{ filters.perm_max }} mD</td>
                </tr>
                <tr>
                    <td class="table-dark">Porosity</td>
                    <td>{{ filters.por_min }} to {{ filters.por_max }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </article>
{% endif %}

<h1>Results:</h1>

    {% for result in query_set %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h2><a class="link" href="{% url 'rock_sample' result.rock_sample.id %}">{{ result.rock_sample.rock_name }}</a></h2>
              <small class="text-muted">{{ result.rock_sample.rock_type }}</small>
            </div>
              <div>Rock Type: {{ result.rock_sample.rock_type }}</div>
            <div class="article-content">Depositional Environment: {{ result.rock_sample.depositional_environment }}</div>
            <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Flow Rate Q (ml/min)</th>
                  <th scope="col">Flow Test</th>
                  <th scope="col">Saturation Profile</th>
                </tr>
              </thead>
              <tbody>
                {% for ft in result.flow_tests %}
                  <tr>
                    <th scope="row">{{ ft.q_ml_min }}</th>
                    <td><a class="link" href="{% url 'flow_test' ft.id %}">Flow Test</a></td>
                    <td><a class="link" href="{% url 'saturation_data' ft.id %}">Saturation Profile</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </article>
    {% empty %}
      <h1>Sorry no results found.</h1>
    {% endfor %}

{% endblock content %}