{% extends 'search_rel_perms/base_nopad.html' %}}
{% load render_table from django_tables2 %}
{% load static %}
{% block content %}
  <main role="main" class="container">
    <article class="media content-section">
      <div class="row">
        <div class="col-md-12">
          <h2><a class="link" href="{% url 'rock_sample' rock_sample.id %}">{{ rock_sample.rock_name }}</a></h2>
      <div>
        <a class="btn btn-outline-secondary" href="?_export=csv" role="button">Export Table as csv file</a>
      </div>
      <hr>
      <div>
        {{ rock_sample.mscl_info }}
      </div>
      <div>
        PWAmp A={{ rock_sample.mscl_PWAmp_A }}
        B={{ rock_sample.mscl_PWAmp_B }}
      </div>
      <div>
        PWVel PTO={{ rock_sample.mscl_PWVel_PTO }}
      </div>
      <div>
        Den1 A={{ rock_sample.mscl_Den1_A }}
        B={{ rock_sample.mscl_Den1_B }}
        C={{ rock_sample.mscl_Den1_C }}
      </div>
      <div>
        MS1 A={{ rock_sample.mscl_MS1_A }}
        B={{ rock_sample.mscl_MS1_B }}
        Den={{ rock_sample.mscl_MS1_Den }}
      </div>
      <div>
        FP MGD={{ rock_sample.mscl_FP_MGD }}
        WD={{ rock_sample.mscl_FP_WD }}
      </div>
      </div>
      </div>

    </article>
  </main>
  {% render_table mscl_table %}
{% endblock content %}