{% extends 'search_rel_perms/base_nopad.html' %}}
{% load render_table from django_tables2 %}
{% load static %}
{% block content %}
 <main role="main" class="container">
    <article class="media content-section">
      <div class="row">
        <div class="col-md-12">
          <h2><a class="link" href="{% url 'rock_sample' flow_test.rock_sample.id %}">{{ flow_test.rock_sample.rock_name }}</a></h2>
          <h3>Flow Rate: {{ flow_test.q_ml_min }} ml/min</h3>
          <h5>Volume of CO<sub>2</sub> in core correction factors <a class="link" href="{% url 'search-about' %}#methodology">(See methodology)</a> </h5>
          <div>a: {{ flow_test.sat_alpha }}</div>
          <div>b: {{ flow_test.sat_beta }}</div>
          <!--
          <div>
            <a class="btn btn-outline-secondary" href="?_export=csv">Export Table as csv file</a>
          </div>
          -->
          <hr>
        </div>
      </div>
    </article>
  </main>
  {% if static_chart %}
    <main role="main" class="container">
      <article class="media content-section">
        <div class="row">
          <div class="col-md-12">
            <img src="{% get_media_prefix %}{{ static_chart }}" alt="Saturation Profile Curves">
          </div>
        </div>
      </article>
    </main>
  {% endif %}
  {% render_table por_vol_table %}
{% endblock content %}