{% extends 'search_rel_perms/base.html' %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h2>{{ rock_sample.rock_name }}</h2>
        </div>
        <div>
          Depositional Environment: {{ rock_sample.depositional_environment }}
        </div>
        <div>
          Rock Type: {{ rock_sample.rock_type }}
        </div>
        <div>
          Absolute Permeability {{ rock_sample.absolute_perm_md|floatformat:2 }} mD
        </div>
        <div>
          Porosity {{ rock_sample.porosity|floatformat:3 }}
        </div>
        <div>
          Pore Fluid {{ rock_sample.pore_fluid }}
        </div>
        <div>
          Displacing Fluid {{ rock_sample.displacing_fluid }}
        </div>
        <div>
          Temperature {{ rock_sample.temperature_c|floatformat:1 }} &deg;C
        </div>
        <div>
          Pore Pressure {{ rock_sample.pore_pressure_mpa|floatformat:1 }} MPa
        </div>
        <div>
          Confining Pressure {{ rock_sample.confining_pressure_mpa|floatformat:1 }} MPa
        </div>
        <div>
          Pore Volume {{ rock_sample.pore_volume_ml|floatformat:1 }} ml
        </div>
        <div>
          Length {{ rock_sample.length_cm|floatformat:2 }} cm
        </div>
        <div>
          Diameter {{ rock_sample.diameter_cm|floatformat:2 }} cm
        </div>
        {% if rock_sample.notes %}
          <div>
            Notes: {{ rock_sample.notes }}
          </div>
        {% endif %}
        <div>
          {% if rock_sample.image_links %}
            Image Links: {{ rock_sample.image_links|escape }}
          {% endif %}
        </div>
        {% if user.is_authenticated %}
          <div>
            Scan Data Location: {{ rock_sample.scan_data_loc }}
          </div>
        {% endif %}
        <div><a class="link" href="{% url 'mscl' rock_sample.id %}">MSCL Data</a></div>
        <table class="table table-striped table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Flow Rate Q (ml/min)</th>
              <th scope="col">Flow Test</th>
              <th scope="col">Saturation Profile</th>
              <th scope="col">Pore Volume Correction</th>
            </tr>
          </thead>
          <tbody>
            {% for ft in flow_tests %}
              <tr>
                <th scope="row">{{ ft.q_ml_min }}</th>
                <td><a class="link" href="{% url 'flow_test' ft.id %}">Flow Test</a></td>
                <td><a class="link" href="{% url 'saturation_data' ft.id %}">Saturation Profile</a></td>
                <td><a class="link" href="{% url 'por_vol' ft.id %}">Pore Volume Correction</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </article>
{% endblock content %}