{% extends 'search_rel_perms/base_nopad.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load chartit %}
{% block head %}
  {% if chart %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script src="{% get_static_prefix %}js/highcharts/highcharts.js"
        type="text/javascript"></script>
    <script src="{% get_static_prefix %}js/highcharts/themes/default.js"
        type="text/javascript"></script>
    {{ chart|load_charts:"c1" }}
  {% endif %}
{% endblock head %}

{% block content %}
  <main role="main" class="container">
    <article class="media content-section">
      <div class="row">
        <div class="col-md-12">
          <h2><a class="link" href="{% url 'rock_sample' flow_test.rock_sample.id %}">{{ flow_test.rock_sample.rock_name }}</a></h2>
          <h3>Flow Rate: {{ flow_test.q_ml_min }} ml/min</h3>
          <div>
            <a class="btn btn-outline-secondary" href="?_export=csv">Export Table as csv file</a>
          </div>
          <hr>
          <!--
          <h5>Volume of CO<sub>2</sub> in core correction factors <a class="link" href="{% url 'search-about' %}#methodology">(See methodology)</a> </h5>
          <div>a: {{ flow_test.sat_alpha }}</div>
          <div>b: {{ flow_test.sat_beta }}</div>
          -->
        </div>
      </div>
    </article>
  </main>
  {% if chart %}
    <div id='c1'></div>
  {% else %}
    <main role="main" class="container">
      <article class="media content-section">
        <div class="row">
          <div class="col-md-12">
            <img src="{% get_media_prefix %}{{ static_chart }}" alt="Saturation Profile Curves">
          </div>
        </div>
      </article>
    </main>
  {% endif %}
  {% render_table saturation_data %}
{% endblock content %}
