body {
  background: #e7e7e7;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

a {
    text-decoration: none !important;
}

.bg-steel {
  background-color: #99ca3d; /* NETL Green */
  /* background-color: #5f788a; */ /* Steel */
}

.site-header .navbar-nav .nav-link {
  color: #656A6D;
  /* color: #cbd5db; */
}

.site-header .navbar-nav .nav-link:hover {
  color: #505457;
  /* color: #ffffff; */
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 800;
}

.site-header .navbar-brand {
  color: #656A6D;
}

.site-header .navbar-brand:hover {
  color: #505457;
}

.link {
  color: #5f788a;
}

.link:hover {
  color: #505457;
}

.link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.asteriskField {
    display: none;
}

.cnt-img img {
    max-height: 100%;
    max-width: 100%;
}
