{% extends 'search_rel_perms/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Upload</button
            </div>
        </form>
    </div>
{% endblock content %}